<!DOCTYPE html>
<html lang="en">

<head>
  <title>arogya Pradhan | hospital</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/custom2.css">
  <link rel="stylesheet" href="/static/css/animate.min.css">
  <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
  <style>
    .bg {
      height: 100%;
    }

    .gradient-custom {
      background-color: #eee;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .resetPassword-hide {
      display: none !important;
    }

    .feedback-section {
      height: 0;
      position: fixed;
      bottom: 0 !important;
      background-color: #dc3545;
      color: #ffffff;
      text-align: center;
      width: 100%;
      left: 0;
      z-index: 9999;
    }

    .feedback-section span:nth-child(1) {
      line-height: 70px;
      font-size: 17px;
    }
  </style>
</head>

<body>
  <div class="row mx-0 h-100">
    <div class="px-0 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100 mx-auto">
      <div id="forgotPassword"
        class="vh-100 gradient-custom p-3 p-lg-5 position-relative d-flex align-items-center justify-content-center h-100 flex-column">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong shadow" style="border-radius: 1rem;">
                <div class="card-body p-5 ">
                  <h3 class="mb-5 text-center">Forgot Password</h3>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="adminEmail">Email</label>
                    <input type="email" id="adminEmail" class="form-control form-control-lg rounded-pill"
                      placeholder="Please enter your email.." />
                  </div>
                  <a href="/hospital/login" class="btn-link mb-2 d-block text-right">Signin</a>
                  <button class="btn btn-dark btn-lg btn-block text-center" id="signinBtn" type="submit">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="verfiyOtpWrapper"
        class="vh-100 gradient-custom resetPassword-hide p-3 p-lg-5 position-relative d-flex align-items-center justify-content-center h-100 flex-column ">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <h3 class="mb-5">Enter Verification Code</h3>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="adminEmail">Enter OTP</label>
                    <input type="text" onkeypress="return event.charCode > 47 && event.charCode < 58;"
                      pattern="[0-9]{5}" id="otp" class="form-control form-control-lg"
                      placeholder="Please enter OTP.." />
                  </div>
                  <button class="btn btn-dark btn-lg btn-block" id="verfiyOtp" type="submit">Submit</button>
                  <hr class="my-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="resetPasswordWrapper"
        class="vh-100 gradient-custom resetPassword-hide p-3 p-lg-5 position-relative d-flex align-items-center justify-content-center h-100 flex-column ">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <h3 class="mb-5">Change Password</h3>
                  <div class="form-outline mb-4">
                    <input type="text" id="newPassword" class="form-control form-control-lg"
                      placeholder="Enter your new password" />
                    <label class="form-label" for="adminEmail">New Password</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="confirmPassword" class="form-control form-control-lg"
                      placeholder="Enter your confirmPassword" />
                    <label class="form-label" for="adminPassword">Confirm Password</label>
                  </div>
                  <button class="btn btn-dark btn-lg btn-block" id="resetPassword" type="submit">Submit</button>
                  <hr class="my-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feedback-section" id="feedbackSection"><span></span></div>
  <script src="/static/js/jquery/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.mCustomScrollbar.min.js"></script>
  <script src="/static/js/fontawesome.min.js"></script>
  <script src="/static/js/fontawesome-all.min.js"></script>
  <script src="/static/js/wow.min.js"></script>
  <script src="/static/js/global.js"></script>
  <script>
    $(document).ready(function () {
      new WOW().init();
      let hospital;
      $('body').on('click', '#signinBtn', function () {
        var adminEmail = $('#adminEmail').val();
        if (adminEmail == "" || adminEmail == null) {
          messageDisplay("Please enter email", 1500, "error");
          $("#adminEmail").focus();
          return false;
        }
        alert(adminEmail);
        if (!emailExpr.test(adminEmail)) {
          messageDisplay("Please enter valid email", 1500, "error");
          $("#adminEmail").focus();
          return false;
        }

        $.post('/hospital/hospital-forgot-password', {
          'email': adminEmail
        }, function (data) {
          if (data.success) {
            hospital = data.hospital;
            $("#verfiyOtpWrapper").removeClass('resetPassword-hide');
            $("#forgotPassword").addClass('resetPassword-hide');
          } else {
            messageDisplay(data.message, 1500, "error");
          }
        });

      }).on('click', '#verfiyOtp', function () {
        var otp = $('#otp').val();
        if (otp == "" || otp == null) {
          messageDisplay("Please enter otp", 1500, "error");
          $("#otp").focus();
          return false;
        }
        $.post('/hospital/hospital-verfiy-otp', {
          'otp': otp,
          hospital: hospital
        }, function (data) {
          if (data.success) {
            $("#resetPasswordWrapper").removeClass('resetPassword-hide');
            $("#verfiyOtpWrapper").addClass('resetPassword-hide');
          } else {
            messageDisplay(data.message, 1500, "error");
          }
        });
      }).on('click', '#resetPassword', function () {
        var password = $('#newPassword').val();
        var confirmPassword = $('#confirmPassword').val();
        if (password == "" || password == null) {
          messageDisplay("Please enter password", 1500, "error");
          $("#newPassword").focus();
          return false;
        }

        if (password.length < 5) {
          messageDisplay("your password must be 5 characters", 1500, "error")
          $("#newPassword").focus();
          return false;
        }

        if (password.length > 20) {
          messageDisplay("your password must be less than 20 characters", 1500, "error")
          $("#newPassword").focus();
          return false;
        }

        if (confirmPassword == "" || confirmPassword == null) {
          messageDisplay("Please enter confirm Password", 1500, "error");
          $("#confirmPassword").focus();
          return false;
        }

        if (password != confirmPassword) {
          messageDisplay("New password and confirm password dosen't not match", 1500, "error");
          $("#confirmPassword").focus();
          return false;
        }

        $.post('/hospital/hospital-reset-password', {
          'password': password,
          hospital: hospital
        }, function (data) {
          if (data.success) {
            window.location.href = '/hospital/login';
          } else {
            messageDisplay(data.message, 1500, "error");
          }
        });

      });
    });
  </script>
</body>

</html>