<!DOCTYPE html>
<html lang="en">

<head>
    <title>Moon Eats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="row mx-0 ">
        <div class="col-12 col-sm-8 col-md-8 col-lg-7 col-xl-5 mx-auto">
            <div
                class="p-3 p-lg-5 position-relative d-flex align-items-center justify-content-center h-100 flex-column">
                <div class="login-logo mb-5">
                    <img src="static/img/logo_new.png" class="img-fluid" />
                </div>
                <div class="px-3 px-lg-5 w-100">
                    <div class="login-text color-000 opensans-bold mb-3 mb-lg-4">
                        SignUp
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label class="opensans-light color-000">
                            Name
                        </label>
                        <div>
                            <input type="text" class="form-control custom-formcontrol color-000"
                                placeholder="Enter Name" id="customerName" />
                        </div>
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label class="opensans-light color-000">
                            Mobile
                        </label>
                        <div>
                            <input type="text" class="form-control custom-formcontrol color-000"
                                placeholder="Enter Mobile" id="customerMobile" />
                        </div>
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label class="opensans-light color-000">
                            Email
                        </label>
                        <div>
                            <input type="email" class="form-control custom-formcontrol color-000"
                                placeholder="Enter email" id="customerEmail" />
                        </div>
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label class="opensans-light color-000">
                            Company Name
                        </label>
                        <div>
                            <input type="text" class="form-control custom-formcontrol color-000"
                                placeholder="Enter Company Name" id="companyName" />
                        </div>
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label class="opensans-light color-000">
                            Country
                        </label>
                        <div>
                            <input type="text" class="form-control custom-formcontrol color-000"
                                placeholder="Enter Country Name" id="countryName" />
                        </div>
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label class="opensans-light color-000">
                            Password
                        </label>
                        <div>
                            <input type="password" class="form-control custom-formcontrol color-000"
                                placeholder="Enter password" id="password" />
                        </div>
                    </div>
                    <button type="button"
                        class="btn bg-blue text-white custom-formcontrol opensans-bold w-100 d-flex align-items-center justify-content-center"
                        id="signup">
                        Sign Up
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-7 h-100 px-0 d-none d-lg-flex align-items-center justify-content-center"
            style="background-color: #f2f5fa;">
            <img src="static/img/login.jpg" class="img-fluid">
        </div>
    </div>
    <div class="feedback-section" id="feedbackSection"><span></span></div>
    <script src="static/js/jquery/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="static/js/fontawesome.min.js"></script>
    <script src="static/js/fontawesome-all.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/global.js"></script>
    <script>
        let planId = sessionStorage.getItem('plan')
        if (!planId) {
            window.location.href = '/plans-list';
        }
        $(document).ready(function () {
            new WOW().init();

            $('body').on('click', '#signup', function () {
                console.log("comes Insidedeerrer");
                let customerNameElement = $("#customerName");
                let emailElement = $('#customerEmail');
                let mobileElement = $('#customerMobile');
                let companyNameElement = $('#companyName');
                let countryNameElement = $('#countryName');
                let passwordElement = $('#password');
                let customerName = customerNameElement.val();
                let email = emailElement.val();
                let mobile = mobileElement.val();
                let companyName = companyNameElement.val();
                let countryName = countryNameElement.val();
                let password = passwordElement.val();

                if (customerName == '') {
                    messageDisplay("Please Enter Customer Name");
                    return false;
                }
                if (email == '') {
                    messageDisplay("Please Enter Email");
                    return false;
                }
                if (!validEmail(email)) {
                    messageDisplay("Please Enter Valid Email");
                    return false;
                }
                if (mobile == '') {
                    messageDisplay("Please Enter Mobile");
                    return false;
                }
                if (countryName == '') {
                    messageDisplay("Please Enter country name");
                    return false;
                }
                if (companyName == '') {
                    messageDisplay("Please Enter company name");
                    return false;
                }
                if (passwordElement == '') {
                    messageDisplay("Please Enter Password");
                    return false;
                }
                let element = $(this);
                element.attr("disabled", "disabled").html("Please Wait..");
                let plan = sessionStorage.getItem('plan');
                let durationType = sessionStorage.getItem('priceingPer');
                postData('/signup', { plan: plan, 'customer_name': customerName, 'mobile': mobile, 'email': email, 'duration_type': durationType, 'country_name': countryName, 'company_name': companyName, 'password': password }, function (response) {
                    if (!response.success) {
                        messageDisplay(response.message);
                        element.attr("disabled", false).html("Save");

                    } else {
                        messageDisplay(response.message, 1500, "success");
                        sessionStorage.clear();
                        setTimeout(function () {
                            window.location.href = response.payment_link;
                        }, 2000);
                    }
                });
            });
        });
    </script>
</body>

</html>