.fa-user {
    display: inline-block;
    border: 1px solid olivedrab;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}

h1 {
    font-weight: 600 !important;
    color: #000;
}

.table td,
.table th {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

table {
    border: solid #d2d2d2 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-collapse: inherit;
}

.table th {
    background: olivedrab;
    color: #fff;
}

.table thead th {
    border-bottom: 1px solid #d2d2d2;
}

/*Today 22-07-2020*/
.chat-customization-window {
    height: 40vh;
}

.input-group-prepend .input-group-text::before {
    width: 26px;
    content: "";
    display: block;
    height: 1px;
}

.iris-picker {
    position: absolute;
    margin-top: 5px;
}

.chat-box h6 {
    color: #000;
}

.chat-box .card-header {
    border: none;
}

.chat-box .card-body {
    position: relative;
    border-radius: 10px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid olivedrab;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f3f3f5;
}

.chat-box .arrow-left {
    position: absolute;
    left: 0;
    margin-left: -10px;
}

.chat-box .arrow-right {
    position: absolute;
    right: 0;
    margin-right: -10px;
}

.chat-box .time {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -50px !important;
    font-size: 14px;
}



.recipient .time {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -50px !important;
    font-size: 14px;
}

.recipient .card-body {
    background: #f3f3f5;
}

.chat-box .time {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -50px !important;
    font-size: 14px;
}

.chat-box .sender {
    clear: both;
}

.chat-box .recipient {
    clear: both;
}

.online-visitors th {
    font-size: 10px;
}

.glyphicon-remove:before {
    content: "X";
}

/*Today 21-07-2020*/
.emptable th {
    font-size: 10px;
}

.emptable td {
    font-size: 10px;
}

.triggerstable .srno {
    width: 7%
}

.triggerstable td {
    font-size: 14px;
}

.table thead th:first-child {
    border-top-left-radius: 10px;
}

table thead th:last-child {
    border-top-right-radius: 10px;
}

.table td {
    color: #333333;
}

table.table-bordered.dataTable {
    border-right-width: thin !important;
}

.fa-edit,
.fa-trash {
    display: inline-block;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    color: #000;
    cursor: pointer;
}

#discount-by {
    background: #d2d2d2;
}

.fa-plus,
.fa-minus {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    color: #fff;
    background: #000;
    cursor: pointer;
}

.billing-details span {
    font-weight: 600;
    color: #000;
}

.bidetails {
    color: #000;
}

.pmtitle {
    margin-top: -45px;
    margin-left: -10px;
    color: #fff;
    font-weight: 400;
}

#preferencesmodal .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}

.btn-light {
    color: #fff;
    background: gray;
}

.sidebar .nav-item .nav-link {
    font-weight: 600;
}

@media(max-width:576px) {
    .sidebar .nav-item .nav-link {
        margin-left: 0 !important;
    }
}
