table {
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 16px;
    }
@font-face {
    font-family: OpenSans-Regular;
    src: local("OpenSans-Regular"),
        local("OpenSans-Regular"),
        url(../fonts/opensans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: local("OpenSans-SemiBold"),
        local("OpenSans-SemiBold"),
        url(../fonts/opensans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: local("OpenSans-Bold"),
        local("OpenSans-Bold"),
        url(../fonts/opensans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: local("OpenSans-Light"),
        local("OpenSans-Light"),
        url(../fonts/opensans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: local("OpenSans-Italic"),
        local("OpenSans-Italic"),
        url(../fonts/opensans/OpenSans-Italic.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-fonts/Lato-Light.woff') format('woff'),
        url('../fonts/lato-fonts/Lato-Light.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-fonts/Lato-Medium.woff2') format('woff2'),
        url('../fonts/lato-fonts/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/lato-fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/lato-fonts/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/lato-fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html, body {
    height: 100%;
}

body {
    font-size: 14px;
    overflow-x: hidden;
    font-family: "OpenSans-Regular", "arial";
}

.mCSB_scrollTools .mCSB_draggerRail {
    height: auto;
}

.opensans-regular {
    font-family: "OpenSans-Regular", "arial";
}

.opensans-semibold {
    font-family: "OpenSans-SemiBold", "arial";
}

.opensans-bold {
    font-family: "OpenSans-Bold", "arial";
}

.opensans-light {
    font-family: "OpenSans-Light", "arial";
}

.opensans-Italic {
    font-family: "OpenSans-Italic", "arial";
}

/*input type number*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}

::-webkit-file-upload-button, select {
    cursor: pointer;
}

input[type=color] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}

a, a:hover {
    color: inherit;
}

.form-control, .btn, .dropdown-menu {
    font-size: 14px;
}
/* .form-control{
    font-size: 17px;
    border: none;
    background-color: white;
    border-radius: none !important;
    padding: 27px 36px;
} */
.bi-search {
    position: relative;
    top: 35px;
    left: 10px;
}

li.nav-item:hover {
    background: #f5f5f5;
}

.pointer {
    cursor: pointer;
    color: #3eaa43;
    font-size: 32px;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.color-000 {
    color: black;
}

.color-111 {
    color: #111;
}

.color-222 {
    color: #222;
}

.color-333 {
    color: #333;
}

.color-444 {
    color: #444;
}

.color-555 {
    color: #555;
}

.color-666 {
    color: #666;
}

.color-777 {
    color: #777;
}

.color-888 {
    color: #888;
}

.color-999 {
    color: #999;
}

.bg-blue {
    background-color: yellowgreen;
}

.color-blue {
    color: #1da1f2;
}

.btn-link {
    font-weight: 400;
    color: darkslateblue;
    text-decoration: none;
}

a {
    color: inherit;
}
.user-image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}

.user-image .file-upload {
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
}

.user-image #fileupload {
    width: 120px;
    height: 120px;
}

.form-group {
    margin-bottom: 10px;
}

.user-image #dvPreview {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #f1f1f1;
    border-radius: 50%;
    top: 0;
    margin: 0;
    overflow: hidden;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.feedback-section {
    height: 0;
    position: fixed;
    bottom: 0 !important;
    background-color: #e74a3b;
    color: #ffffff;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 9999;
}

.feedback-section span:nth-child(1) {
    line-height: 70px;
    font-size: 17px;
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 9px;
    left: 0px;
    right: 0px;
    height: 2px;
    background: #2ea1f3;
}

.c-hamburger span::before, .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2ea1f3;
    content: "";
}

.c-hamburger--htx span::before, .c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger span::before {
    top: -9px;
}

.c-hamburger span::after {
    bottom: -9px;
}

.c-hamburger--htx.is-active span {
    background: transparent!important;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
    width: 26px;
    left: 0;
    margin-left: 3px;
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
    width: 26px;
    left: 0;
    margin-left: 3px;
}

.c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

/* login */

.login-text {
    font-size: 34px;
}

.custom-formcontrol {
    height: 50px;
}

/* login */

/* dashboard */

.navbar {
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.08);
}

.custom-fullheight {
    height: calc(100% - 66px);
}

.sidenavbar .nav-item {
    color: #fff;
    margin-bottom: 10px;
}

.sidenavbar .nav-item img {
    margin-bottom: 5px;
}

.sidenavbar .nav-item.active, .sidenavbar .nav-item:hover {
    color: #1da1f2;
    background: #fff;
}

.sidenavbar .nav-item.active img.sidenavbar-img, .sidenavbar .nav-item img.sidenavbar-activeimg, .sidenavbar .nav-item:hover img.sidenavbar-img {
    display: none;
}

.sidenavbar .nav-item.active img.sidenavbar-activeimg, .sidenavbar .nav-item:hover img.sidenavbar-activeimg {
    display: inline-block;
}

.sidenavbar .nav-item a {
    padding: 10px 5px;
    line-height: 1.2;
}

.dashboard-leftsection {
    display: inline-block;
    width: 300px;
    color: #293037;
}

.dashboard-username {
    font-size: 20px;
}

.basicdetails-box {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 1.5px rgba(0,0,0,0.06);
    background-color: #f7f7f7;
    border: 1px solid #d8d8d8;
}

.basicdetails-heading {
    font-size: 16px;
}

.basicdetails-content {
    color: #293037cc;
    font-size: 13px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}
.basicdetails-content div{
    word-break: break-all;
    padding: 0 2px;
    text-transform: capitalize;
    min-width: 50%;
}

.basicdetails-content:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.request-btn, .request-btn:hover {
    font-size: 15px;
    box-shadow: 0px 3px 1.5px rgba(0,0,0,0.06);
    color: #1da1f2;
    background-color: #ffffff;
    border: 2px solid #1da1f2;
}

.basicdetails-transfer {
    color: #293037cc;
    font-size: 13px;
    padding: 8px 0;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom: 0px !important;
}
.basicdetails-transferno {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #7e7e7e;
    border: 1px solid #cccccc;
}

.dashboard-rightsection {
    display: inline-block;
    width: 350px;
    background-color: #f3f7f9;
}

.rightsection-queuedchat,.rightsection-queuedchat-waiting {
    font-size: 13px;
    cursor: pointer;
    padding: 10px 15px;
    border-left: 4px solid transparent;
}

.rightsection-queuedchat--active {
    background-color: #e1e9ec;
    border-left: 4px solid #1da1f2;
}

.dashboard-rightsection .rightsection-queuedchat:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.queuedchat-transferdetails {
    color: #293037;
}

.plan-history-popup{
    max-width: 1140px;
}
.plans h5{
    color: #1da1f2;
    font-size: 17px;
}
.plans h4{
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.plans button{
    border: none;
    background: #1da1f2;
    outline: none;
    width: 80%;
    padding: 6px 5px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
}
.plans li{
    margin-bottom: 10px;
}
.plans li::before {
    content: "\f058";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    margin-right: 10px;
    color: #30a1f2;
}
.plan_info{
    position: absolute;
    top: 6px;
    right: -40px;
    background: none;
    border: none;
    font-size: 23px;
    color: #333;
    outline: none !important;
}

.checkbox-text{
    margin-left: 30px;
}

.preferences-checkbox .options-checkbox {
    /*width: auto;*/
    height: auto;
    margin: 0 10px 10px 0
}

.preferences-checkbox .options-checkbox .custom-checkbox, .preferences-checkbox  .options-checkbox .custom-radio {
    width: 25px;
    left: 0;
}

.queuedchat-dpname {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: #e7a23b;
}

.queuedchat-dpname--yellow {
    background-color: #e7a23b;
} 

.queuedchat-dpname--red {
    background-color: #dd3333;
}

.queuedchat-dpname--green {
    background-color: #4f951b;
}

.rightsection-queuedchatname {
    font-size: 15px;
}

.queuedchats-btn {
    height: 45px;
    border-radius: 10px;
    font-size: 15px;
    width: calc(100% - 30px);
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
}

.queuedchats-arrow {
    color: #1da1f2;
}

.dashboard-mainsection {
    z-index: 1;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
}

.chatbox {
    height: calc(100% - 160px);
    overflow: auto;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* width */
.chatbox::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.chatbox::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.chatbox::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.chatbox::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chatbox-message--left .chatbox-message, .chatbox-message--right .chatbox-message {
    position: relative;
    display: inline-block;
    max-width: 80%;
    padding: 15px;
    background-color: #2ea1f2;
    color: rgba(255,255,255,0.9);
    border-radius: 5px;
    box-shadow: 0px 3px 1.5px rgba(0,0,0,0.06);
    margin-right: 10px;
}

.chatbox-message--left .chatbox-message::before, .chatbox-message--right .chatbox-message::before {
    position: absolute;
    content: '';
    background: #2ea1f2;
    width: 10px;
    top: 20px;
    height: 10px;
    transform: rotate(45deg);
    left: -5px;
    z-index: -1;
    box-shadow: 0px 3px 1.5px rgba(0,0,0,0.06);
}

.chatbox-message--left, .chatbox-message--right {
    margin-bottom: 15px;
}

.chatbox-message--right {
    text-align: right;
}

.chatbox-message--right .d-flex {
    flex-direction: row-reverse;
}

.chatbox-message--right .chatbox-message {
    color: #000;
    margin-right: 0;
    margin-left: 10px;
    background-color: #f3f3f4;
}

.chatbox-message--right .chatbox-message::before {
    background-color: #f3f3f4;
    left: unset;
    right: -5px;
}

.chatbox-username {
    font-size: 15px;
}

.chatbox-time {
    color: rgba(0,0,0,0.6);
    font-size: 11px;
}

.chat-inputsection .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
}

.dashboard-dropdownchat {
    height: 40px;
}

.dashboard-dropdownchat::after {
    content: none;
}

.dashboard-dropdownchatmenu {
    min-width: 270px;
    background-color: #5b5b5b;
    box-shadow: 0px 3px 1.5px rgba(0,0,0,0.06);
}

.dashboard-dropdownchatmenu .dropdown-item {
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    background-color: transparent;
}

.dashboard-dropdownchatmenu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.attachments-tabs .nav-item {
    margin: 0;
    background-color: #fff;
}

.attachments-tabs .nav-item:not(:first-child) {
    margin-left: -2px;
}

.attachments-tabs .nav-link {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
    font-family: "OpenSans-SemiBold", "arial";
    font-size: 15px;
    color: #1da1f2;
    border-radius: 0;
    border: 2px solid #1da1f2;
}

.attachments-tabs .nav-link img {
    margin-right: 5px;
}

.attachments-tabs .nav-link img.active-img, .attachments-tabs .nav-link.active img, .attachments-tabs .nav-link:hover img {
    display: none;
}

.attachments-tabs .nav-link.active, .attachments-tabs .nav-link:hover {
    color: #fff;
    border-color: #1da1f2;
    background-color: #1da1f2;
}

.attachments-tabs .nav-link.active img.active-img, .attachments-tabs .nav-link:hover img.active-img {
    display: inline-block;
}

.attachments-tabpane {
    height: 350px;
}
#attachment-preview{
    z-index: 999;
}
.attachimage-box {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 7px;
    background-color: #ffffff;
    background-size: contain !important;
}
.attachment-box {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 7px;
    background-color: #ffffff;
}

.options-checkbox {
    width: 100%;
    /* height: 100%; */
    margin-bottom: 0;
}
.remove-attachment {
    margin-bottom: 0;
    right:0;
}
.options-checkbox input {
    position: absolute;
    opacity: 0;
    display: none;
}

.options-checkbox .custom-checkbox, .options-checkbox .custom-radio {
    position: absolute;
    display: inline-block;
    min-width: 25px;
    height: 25px;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid #9b9b9b;
    top: 10px;
    right: 10px;
}

.options-checkbox .custom-radio {
    border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-checkbox:after, .custom-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.options-checkbox input:checked ~ .custom-checkbox:after, .options-checkbox input:checked ~ .custom-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.options-checkbox .custom-checkbox:after {
    top: calc(50% - -1px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    width: 12px;
    height: 6px;
    border-left: 2px solid #2ea1f2;
    border-bottom: 2px solid #2ea1f2;
    background: transparent;
    -webkit-transform-origin:left top;transform-origin:left top;-webkit-animation:checkAnimation .2s;animation:checkAnimation .2s;
}

@-webkit-keyframes checkAnimation {
    0% {
        height:0;
        width:0
    }
    50% {
        height:6px;
        width:0;
    }
    to {
        height:6px;
        width:10px;
    }
}
@keyframes checkAnimation {
    0% {
        height:0;
        width:0
    }
    50% {
        height:6px;
        width:0;
    }
    to {
        height:6px;
        width:10px;
    }
}

.options-checkbox .custom-radio:after {
    border-radius: 50%;
    height: 9px;
    width: 9px;
    background: #57a84c;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.btn-modalno, .btn-modalno:hover {
    font-family: "OpenSans-SemiBold", "arial";
    font-size: 15px;
    color: #1da1f2;
    min-width: 95px;
    box-shadow: 0px 3px 1.5px rgba(0,0,0,0.06);
    background-color: #fff;
    border: 2px solid #1da1f2;
}

.btn-modalyes, .btn-modalyes:hover {
    font-family: "OpenSans-SemiBold", "arial";
    font-size: 15px;
    color: #fff;
    min-width: 95px;
    box-shadow: 0px 3px 1.5px rgba(0,0,0,0.06);
    background-color: #1da1f2;
    border: 2px solid #ffffff;
}

.modal-backdrop.show {
    opacity: 0.9;
}

#endchatModal .modal-body {
    font-size: 20px;
}

.search-transfer::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/search.png) no-repeat center;
}

.search-transfer input {
    height: 45px;
    padding-right: 40px;
    border: 1px solid #cacaca;
}

.searchagent-list {
    height: 250px;
}

.searchagent-box {
    cursor: pointer;
    padding: 10px 15px;
}

.searchagent-box:hover, .transfer-chat-active {
    background: #e5e5e5;
}

.searchagent-details {
    width: calc(100% - 60px);
}

.searchagent-pic {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #4f951b;
}

.searchagent-name {
    width: calc(100% - 40px);
}

/* dashboard */

/* chat history */

body.chathistory .chatbox {
    height: calc(100% - 128px);
    border: none;
}

/* chat history */

/* chat list */

.pagename {
    font-size: 24px;
}

.table {
    color: #000;
    font-size: 15px;
}

.table thead {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    color: #fff;
    font-size: 15px;

}
.table td{
    border-top: 0px !important;
}

.table-hover tbody tr {
    cursor: pointer;
    background: #fff;
}



/* chat list */

/* super admin */

.admin-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    flex-basis: 40px;
    border-radius: 50%;
    border: 2px solid grey;
    background-size: cover;
}

.superadmin-sidenavbar .nav-item {
    font-size: 16px;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;
    font-family: "OpenSans-SemiBold", "arial";
}

.superadmin-sidenavbar .nav-item.active, .superadmin-sidenavbar .nav-item:hover {
    color: black;
    background: #fff;
}

.superadmin-sidenavbar .nav-item a {
    padding: 10px 20px;
}

.btn {
    font-size: 15px;
    border-radius:22px;
}

.superadmin-table {
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    color: #333;
    font-size: 16px;
    font-family: 'Lato';

}

.superadmin-table thead {
    white-space: nowrap;
    font-family: "OpenSans-Regular", "arial";
}

.action-btn {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
}

.superadmin-label {
    font-size: 17px;
    font-family: "OpenSans-Light", "arial";
    margin-bottom: 5px;   
}


    .superadmin-formcontrol {
        min-height: 40px;
        color: #333;
        border-radius: 10px !important;
        background-color: #ffffff;
        /* border: 1px solid #d2d2d2; */
        border: none;
        background: #f3f3f3;
        width: 90%;
    }


.btn-yes, .btn-yes:hover {
    min-width: 110px;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #1da1f2;
    font-family: "OpenSans-Regular", "arial";
    background-color: #1da1f2;
}

.btn-no, .btn-no:hover {
    min-width: 110px;
    padding: 10px;
    margin-right: 10px;
    font-size: 17px;
    color: #1da1f2;
    border-radius: 10px;
    border: 2px solid #1da1f2;
    font-family: "OpenSans-Regular", "arial";
    background-color: #fff;
}

.upload-image::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background: url('../img/upload.png') no-repeat center;
}

.add-featurebtn {
    cursor: pointer;
    color: #000;
    font-size: 30px;
}

.discount-subbtn {
    cursor: pointer;
    width: 80px;
    z-index: 1;
    background: #e9e9e9;
    border-radius: 10px 0 0 10px;
}

.superadmin-formtext {
    font-size: 19px;
}

.section-name {
    font-size: 20px;
}

.section-details {
    border-radius: 10px; filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.06)); background-color: #ffffff; border: 1px solid #d1d1d1;
}

.customers-singletable thead {
    background: #fff;
    color: #333;
    font-size: 17px;
}

.table.customers-singletable thead th, .table.customers-singletable td {
    border: none;
}

.table.customers-singletable td {
    font-family: "OpenSans-Light", "arial";
    color: #333;
    font-size: 17px;
}

#preferencesModal .modal-content {
    border-radius: 10px;
    filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.06));
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
}

.switch {
    position: relative;
    width: 45px;
    height: 16px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #929292;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: -3px;
    top: 50%;
    background-color: #aeaeae;
    -webkit-transition: .4s;
    transition: .4s;
    transform: translateY(-50%);
}

input:checked + .slider {
    background-color: #fff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translate(26px, -50%);
    -ms-transform: translate(26px, -50%);
    transform: translate(26px, -50%);
    background: #1da1f2;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.preferences-label {
    font-size: 17px;
    color: #000;
}

.activity-list {
    font-size: 16px;
    color: #333;
    font-family: "OpenSans-Light", "arial";
}

.activity-date {
    flex: 0 0 110px;
    margin-right: 20px;
    white-space: nowrap;
}

.profile-label {
    font-size: 17px;
    font-family: "OpenSans-SemiBold", "arial";
    margin-bottom: 0;
}

.superadmin-profiletext {
    font-size: 15px;
}

.superadmin-permisssiontext {
    font-size: 17px;
}

.min-h-100 {
    min-height: 100%;
}

/* admin */

.btn-update, .btn-update:hover {
    font-size: 16px;
    color: #292929;
    border-radius: 5px;
    border: 2px solid #292929;
    font-family: "OpenSans-Regular", "arial";
    background-color: #fff;
}

.btn-admin {
    font-size: 16px;
    color: #1da1f2;
    border-radius: 0;
    border-bottom: 2px solid #1da1f2;
}

body.admin-chathistory .chatbox {
    height: calc(100% - 188px);
}


.upload-files {
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background: #f3f3f3;
    width: 90%;
    height: 40px;
}

.upload-files-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.delete-image {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0.5);
    transition: 0.2s ease all;
}

.attachimage-box:hover .delete-image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.6);
    z-index: -1;
}

.attachimage-box:hover .delete-image {
    opacity: 1;
    transform: scale(1);
    transition: 0.2s ease all;
}

.chat-datepicker input {
    padding-right: 35px;
}

.chat-datepicker::after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f073";
    color: #9c9797;
    font-size: 18px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.admin-table {
    font-size: 17px;
}

.admin-table thead {
    color: #000;
    background: transparent;
}

.admin-table thead th, .admin-table td {
    border: none;
}

.switch.admin-switch .slider:before {
    background: #fff;
    border: 1px solid #929292;
}

.switch.admin-switch {
    border: none;
}

.switch.admin-switch .slider {
    background: #aeaeae;
}

.switch.admin-switch input:checked + .slider {
    background: #1da1f2;
    border: 1px solid #1da1f2;
}

.custom-checkbox.admin-checkbox {
    position: relative;
    top: auto;
    border-radius: 4px;
    right: auto;
}

.custom-checkbox.admin-checkbox:after {
    border-color: #fff;
}

.options-checkbox input:checked ~ .custom-checkbox.admin-checkbox {
    background: #1da1f2;
    border-color: #1da1f2
}

.widget-selectcolor {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
}

.widget-preview {
    height: 340px;
    margin-top: 30px;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
}

.widget-header {
    font-size: 16px;
    border-bottom: 1px solid #dedede;
    padding: 15px 20px;
}
.min-h-full {
    min-height: 100%;
}
@media only screen and (min-width: 992px) {
    .h-full {
        height: 100%;
    }

    /*.login-logo {*/
    /*    position: absolute;*/
    /*    top: 40px;*/
    /*}*/

    .superadmin-sidenavbar {
        width: 250px;
        max-width: 250px;
    }

    .superadmin-sidenavbar1 {
        width: 250px;
        max-width: 250px;
    }

    .superadmin-sidenavbar1 .nav-item {
        font-size: 16px;
        text-align: left;
        color: #fff;
        margin-bottom: 10px;
        font-family: "OpenSans-SemiBold", "arial";
    }
    
    .superadmin-sidenavbar1 .nav-item.active, .superadmin-sidenavbar1 .nav-item:hover {
        color: black;
        background: #fff;
    }
    
    .superadmin-sidenavbar1 .nav-item a {
        padding: 10px 20px;
    }
    .superadmin-rightsection {
        width: calc(100% - 250px)!important;
       
        height: 110vh;
    }

    .sidenavbar {
        width: 90px;
        max-width: 90px;
    }

    .sidenavbar .nav-item {
        text-align: center;
        font-size: 12px;
    }

    .sidenavbar .nav-item {
        border-radius: 10px;
    }

    #preferencesModal .modal-title {
        margin-top: -50px;
        color: #fff;
        margin-left: -20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
    .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xxl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

@media only screen and (max-width: 991px) {
    .login-text {
        font-size: 24px;
    }

    .custom-fullheight {
        height: auto;
    }

    .sidenavbar .nav-item img {
        margin: 0;
    }

    .sidenavbar .nav-item a {
        padding: 10px;
    }

    .sidenavbar .nav-item a div {
        display: inline-block;
        margin-right: 10px;
    }

    .superadmin-formtext {
        font-size: 17px;
    }
}

@media only screen and (max-width: 767px) {
    .chatbox, body.chathistory .chatbox {
        height: 400px;
    }
}

@media only screen and (max-width: 575px) {
    .login-text {
        font-size: 20px;
    }

    .dashboard-leftsection, .dashboard-rightsection {
        width: 100%;
    }
}
.feedback-section {
    height: 0;
    position: fixed;
    bottom: 0 !important;
    background-color: #dc3545;
    color: #ffffff;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 9999;
}

.feedback-section span:nth-child(1) {
    line-height: 70px;
    font-size: 17px;
}
.preferences-checkbox .custom-checkbox{
    top:0;
    right: 0;
}

.panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}
.select-plan{
    z-index: 10;
}
.select-plan label{
    color: #fff;
}

.pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .pricing-table {
        flex-direction: row;
    }
}

.pricing-table{
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
}

.pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        flex-basis: 100%;
        padding: 25px 20px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
}

.pricing-features {
    color: #333;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 25px;
    padding: 0 20px;
}
.strikeoff{
    text-decoration: line-through;
    color: #999;
    font-size: 26px;
}

.pricing-features-item {
    border-top: 1px solid #eaeaea;
    font-size: 12px;
    line-height: 1.5;
    padding: 12px 0;
    text-align: left;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 2px solid #30a2f3;
    border-radius: 10px;
    color: #30a2f3;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
    text-decoration: none !important;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #e1f1ff;
}

.pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
    background-color: #269aff;
}
.resetPassword-hide{
    display:none !important;
}
.nav-item.dashboard-link:hover {
background: none;
    color: #ffffff;
    cursor: default;
}



.canned-responses{
    background: #f7f7f7;
    border: solid 1px #d5d5d5;
    border-radius: 10px;
    overflow: hidden;
}

.canned-responses h5{
    font-size: 17px;
}

.canned-responses .heading{
    padding: 13px 17px;
}

.canned-responses button{
    border: none;
    outline: none !important;
    background: none;
    box-shadow: none;
    width: 100%;
}
.canned-responses button img {
    width: 12px;
}


.accordion .card-header:after {
    position: absolute;
    content: url("../img/minus.svg") !important;
    float: right;
    right: 15px;
}
.accordion .card-header.collapsed:after {
    position: absolute;
    content: url("../img/plus.svg") !important;
    float: right;
}

#canned-responses-tags{
    border-top: solid 1px #dedede;
}

.accordion>.card {
    border: none;
}

.card-title,.card-title:hover{
    color: #000000 !important;
    text-decoration: none;
}

.card-body {
    /* background: #f7f7f7; */
    padding: 0 20px 8px 20px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body span{
    background: #fff;
    border: solid 1px #d5d5d5;
    padding: 6px 12px;
    display: inline-block;
    margin: 0 3px 9px 0;
    border-radius: 10px;
}

.card-body:last-child{
    border-bottom: none;
}

.arrow{
    width: 14px;;
}
.canned-text{
    cursor: pointer;
}

/* Akash Rajure css */
.use-detail{
    font-size: 23px;
    color: rgb(59 56 56);
    font-weight: bold;
    font-family: inherit;
}
.use-detail1{
    font-size: 23px;
    color: rgb(59 56 56);
    font-weight: bold;
    font-family: inherit;
}

    .bill-head {
        font-size: 16px;
        color: rgb(112 112 112);
        margin-top: 48px;
    }

/* .mid-line{
    padding: 0px 74px;
} */
input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}
 /* .box-padd{
    padding: 42px 27px;
} */
.box-padd1{
    padding: 37px 27px;
} 
.hide-bor{
    font-size: 18px;
    color: black;
    font-family: sans-serif;

}
#output{
    width: 100%;
}



.form-control1 {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: none;
    padding: 26px 38px;
    border-radius: 10px;
}
.hide-bor1{
    font-size: 15px;
    padding: 5px 5px;
    border-radius: 45px;
    color: #0b0e0b;
    font-weight: bold;
}

.use-card-de{
    font-size: 24px;
    color: #000;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    
}

.superadmin-label1{
    font-size: 18px;
    color: #707070;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-family: 'Lato';
}
.super-add{
    font-size: 20px;
    color: #333;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.pointer:hover{
    color: #3eaa43 !important;
}
.arogya-card-scan{
    font-size: 24px;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color: #000;
}
.active-card{
    color: #3eaa43;
    background-color: #d9ffe1;
    font-size: 15px;
    padding: 2px 7px;
    border-radius: 53px;
    width: 50%;
}

/* #file-upload::-webkit-file-upload-button {
    visibility: hidden;
    user-select: none;
}
#file-upload{
    user-select: none;
} */

input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0 !important;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}
.superadmin-rightsection .btn1 {
    background-color: #3da943 !important;
    position: relative;
    top: -30px;
    border-radius: 0px !important;
    font-size: 18px;
    left: 0px;
    border-radius: 6px !important;
    padding: 3px 32px;
    border: none;
    float: left;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color: #fff;
    position: relative;
    top: 25px;
    outline: none;
}
.superadmin-rightsection .btn1 :hover{
    background-color:  #3da943 !important;
}
.side-bar-name{
    margin-left: 10px;
}
.bi-person-circle{
    vertical-align: middle;
}
.receipts-bill{
    vertical-align: middle;
}
.billing{
    vertical-align: middle;
    position: relative !important;
    left: 3px !important;
}
.commission{
    vertical-align: middle;
}
.nextpng{
    width: 4%;
    float: right;
    position: relative;
    top: 7px;
}
.billimg{
    position: relative;
    left: 3px;
}

.page-item.active .page-link {
    border-color: olivedrab;
    padding: 8px 12px;
}

   

      .border-bottom{
        border-top-left-radius: 0px !important;
    }
   .sub-name{
    font-weight: bold;
    margin-left: 8px;
    font-size: 18px;
    vertical-align: middle;
   }
   .pharmacy-add{
    color: #f26d42;
   }
  

.pharmacy-add{
    color: #434343;
    width: 28px;
}
.bi-plus-circle:hover{
    color: #f26d42;
}
a:hover .borleft{
    color: #f26d42;
}
.bi-chevron-right{
    float: right;
    position: relative;
    top: 4px;
}
.bi-plus{
    margin-right: 10px;
}
div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0;
    overflow-x: auto !important;
}
.distributername{
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-size: 21px;
}
.distributername1{
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    position: relative;
    left: 19px;
}
.dist-name{
    padding: 5px 77px;
}
.subname{
    position: relative;
    top: 22px;
    left: 40px;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;

}
.subname-dist {
    position: relative;
    top: 4px;
    left: 40px;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}
.dot-dot{
    position: relative;
    left: 14px;
}
.subname1{
    position: relative;
    top: 6px;
    left: 40px;
}
.hiddenobj{
    display: none !important;
}
.comm-form{
    width: 50%;
    position: relative;
    left: 44px;
    border: none !important;
    background: #e5e5e5;
    top: -3px;
}
.mine-add{
    padding: 7px 70px;
}
.pointer1{
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    color: #f26d42;
    font-weight: bold;
    font-size: 27px;
}
.superadmin-label-hospital{
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    color: #000;
    font-size: 17px;
}
.superadmin-formcontrol-input-1{
    min-height: 40px;
    color: #333;
    border-radius: 4px !important;
    background-color: #ffffff;
    /* border: 1px solid #d2d2d2; */
    border: none !important;
    /* background: #f3f3f3; */
    width: 80%;
    padding: 0px 20px;
    outline: none;
}
.form-control-hospital{
    border-radius: 4px;
}
.upload-files-hospital{
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    width: 90%;
    height: 40px;
}
.superadmin-formcontrol-input-2{
    height: 120px !important;
    color: #333;
    border-radius: 4px !important;
    background-color: #ffffff;
    /* border: 1px solid #d2d2d2; */
    border: none !important;
    /* background: #f3f3f3; */
    width: 70%;
    padding: 10px 20px;
    outline: none;
}
.superadmin-formcontrol-edit{
    min-height: 40px;
    color: #333;
    border-radius: 4px !important;
    background-color: #ffffff;
    /* border: 1px solid #d2d2d2; */
    border: none !important;
    /* background: #f3f3f3; */
    width: 50%;
    padding: 0px 20px;
    outline: none;
}
.bor-bottom-line{
    border-bottom: 1px solid gray;
}
.minehead-bill{
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    color: #f26d42;
}
.btn-update-hospital{
    background-color: #f2683c!important;
    position: relative;
    /* top: -30px; */
    border-radius: 0px !important;
    font-size: 18px;
    left: 0px;
    border-radius: 6px !important;
    padding: 6px 45px;
    border: none;
    float: left;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color: #fff;
    margin-top: 0px !important;
}
.btn-update-agent{
    background-color: #f2683c!important;
    position: relative;
    /* top: -30px; */
    border-radius: 0px !important;
    font-size: 18px;
    left: 0px;
    border-radius: 6px !important;
    padding: 6px 45px;
    border: none;
    float: left;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color: #fff;
    margin-top: 0px !important;
    left: 15px;
}
.btn-update-distributer{
    background-color: #f2683c!important;
    position: relative;
    /* top: -30px; */
    border-radius: 0px !important;
    font-size: 18px;
    left: 0px;
    border-radius: 6px !important;
    padding: 6px 45px;
    border: none;
    float: left;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color: #fff;
    margin-top: 0px !important;
    left: 15px;
}
.table-hover tbody tr:hover{
    color: #000 !important;
}
.myside-view{
    position: relative;
    left: 50px;
}
.mypad-view{
    padding: 0px 50px;
}
.mypad-view1{
    padding: 0px 68px;
}
