#soldanChatwidget {
    /* Create the indicator (the dot/circle - hidden when not checked) */
    /* Show the indicator (dot/circle) when checked */
    /* Style the indicator (dot/circle) */
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
}
@font-face {
    font-family: OpenSans-Regular;
    src: local("OpenSans-Regular"), local("OpenSans-Regular"), url(../fonts/opensans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: local("OpenSans-SemiBold"), local("OpenSans-SemiBold"), url(../fonts/opensans/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: local("OpenSans-Bold"), local("OpenSans-Bold"), url(../fonts/opensans/OpenSans-Bold.ttf);
}
@-webkit-keyframes checkAnimation {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        height: 6px;
        width: 0;
    }
    to {
        height: 6px;
        width: 10px;
    }
}
@keyframes checkAnimation {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        height: 6px;
        width: 0;
    }
    to {
        height: 6px;
        width: 10px;
    }
}
#soldanChatwidget .opensans-regular {
    font-family: "OpenSans-Regular", "arial";
}
#soldanChatwidget .opensans-semibold {
    font-family: "OpenSans-SemiBold", "arial";
}
#soldanChatwidget .opensans-bold {
    font-family: "OpenSans-Bold", "arial";
}
#soldanChatwidget .pointer {
    cursor: pointer;
}
#soldanChatwidget .color-000 {
    color: #000;
}
#soldanChatwidget .color-111 {
    color: #111;
}
#soldanChatwidget .color-222 {
    color: #222;
}
#soldanChatwidget .color-333 {
    color: #333;
}
#soldanChatwidget .color-444 {
    color: #444;
}
#soldanChatwidget .color-555 {
    color: #555;
}
#soldanChatwidget .color-666 {
    color: #666;
}
#soldanChatwidget .color-777 {
    color: #777;
}
#soldanChatwidget .color-888 {
    color: #888;
}
#soldanChatwidget .color-999 {
    color: #999;
}
#soldanChatwidget .bg-blue {
    background-color: #1da1f2;
}
#soldanChatwidget .color-blue {
    color: #1da1f2;
}
#soldanChatwidget input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}
#soldanChatwidget::-webkit-file-upload-button {
    cursor: pointer;
}
#soldanChatwidget select {
    cursor: pointer;
}
#soldanChatwidget body {
    font-size: 14px;
    font-family: "OpenSans-Regular", "arial";
}
#sodlanWidgetToggle_0 {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    border-radius: 50%;
    background: #1da1f2 url('../img/chat.png') no-repeat center;
    background-size: 50%;
    transform: rotate(0deg);
    transition: 0.5s ease all;
}
#sodlanWidgetToggle_0.open {
    transform: rotate(180deg);
    transition: 0.5s ease all;
    background: #1da1f2 url('../img/close.png') no-repeat center;
    background-size: 35%;
}
#soldanChatwidget .widget-detailsbox {
    position: fixed;
    overflow: hidden;
    bottom: 80px;
    right: 30px;
    width: 0;
    height: 0;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.05);
    background-color: #f3f7f9;
    border: 1px solid #eee;
    transition: 0.5s ease all;
    transform-origin: bottom;
}
#soldanChatwidget .widget-detailsbox--open {
    height: 580px;
    width: 380px;
}
#soldanChatwidget .widget-top {
    position: relative;
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #000000;
}
#soldanChatwidget .widget-closebtn {
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: transparent;
}
#soldanChatwidget .widget-details {
    overflow: auto;
    height: calc(100% - 125px);
    padding: 20px;
}
#soldanChatwidget .widget-heading {
    font-family: "OpenSans-SemiBold", "arial";
    margin-bottom: 15px;
}
#soldanChatwidget .widget-option {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
}
#soldanChatwidget .join-text {
    position: relative;
}
#soldanChatwidget .join-text::before {
    position: absolute;
    content: '';
    border: 1px dashed #ccc;
    width: 80%;
    height: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#soldanChatwidget .join-text span {
    color: #1da1f2;
    padding: 0 5px;
    background: #f3f7f9;
    font-family: "OpenSans-SemiBold", "arial";
}
#soldanChatwidget #sodlanWidget_0 {
    width: 0;
    height: 0;
    opacity: 0;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 2147483647;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.05);
    background-color: #f3f7f9;
    border: 1px solid #eee;
    transition: 0.5s ease all;
    transform-origin: bottom;
}
#soldanChatwidget #sodlanWidget_0.open {
    opacity: 1;
    height: 580px;
    width: 380px;
    box-shadow: 0 0 10.5px 3.5px rgba(0, 0, 0, .16);
}
#sodlanWidget_0.widget-form{
    width: 674px !important;
    background: none !important;
 }
#soldanChatwidget #sodlanWidget_0.welcome {
    opacity: 1;
    width: 330px;
    height: 140px;
}
#soldanChatwidget .widget-chatbox {
    display: inline-block;
    padding: 15px;
    color: rgba(255, 255, 255, 0.9);
    min-width: 50px;
    max-width: 80%;
    font-family: "OpenSans-SemiBold", "arial";
    border-radius: 15px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid #eee;
}
#soldanChatwidget .widget-chatbox--left {
    background-color: #1da1f2;
    border-top-left-radius: 0px;
}
#soldanChatwidget .widget-chatbox--right {
    word-break: break-all;
    color: #000;
    background: #fff;
    border-top-right-radius: 0px;
}
#soldanChatwidget .widget-form {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border: 1px solid #eee;
}
#soldanChatwidget .widget-form label {
    display: inline-block;
    margin-bottom: 5px;
}
#soldanChatwidget .mb-3{
    margin-bottom: 20px;
}
#soldanChatwidget .ml-2{
    margin-left: 10px;
}
#soldanChatwidget .mr-2{
    margin-right: 10px;
}
#soldanChatwidget .form-control{
    padding: 10px 15px;
    height: 45px;
    width: 100%;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}
#soldanChatwidget  #mobileNumber{
    padding-right: 6px;
    padding-left: 52px;

}
.iti--allow-dropdown{
    width: 100%;
}
#soldanChatwidget .position-relative {
    position: relative;
}
#soldanChatwidget .d-inline-block {
    display: inline-block;
}
#soldanChatwidget .options-text {
    display: inline-block;
    margin-left: 35px;
}
#soldanChatwidget .options-checkbox input {
    position: absolute;
    opacity: 0;
    display: none;
}
#soldanChatwidget .options-checkbox input:checked ~ .custom-checkbox:after {
    display: block;
}
#soldanChatwidget .options-checkbox input:checked ~ .custom-radio:after {
    display: block;
}
#soldanChatwidget .options-checkbox .custom-checkbox {
    position: absolute;
    display: inline-block;
    min-width: 25px;
    height: 25px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
    left: 0px;
    top: 3px;
}
#soldanChatwidget .options-checkbox .custom-checkbox:after {
    top: calc(50% - 0px);
    left: calc(50% - 8px);
    transform: rotate(-45deg);
    width: 12px;
    height: 6px;
    border-left: 2px solid #2ea1f2;
    border-bottom: 2px solid #2ea1f2;
    background: transparent;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-animation: checkAnimation 0.2s;
    animation: checkAnimation 0.2s;
}
#soldanChatwidget .options-checkbox .custom-radio {
    position: absolute;
    display: inline-block;
    min-width: 25px;
    height: 25px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #9b9b9b;
    left: 0px;
    top: 3px;
    border-radius: 50%;
}
#soldanChatwidget .options-checkbox .custom-radio:after {
    border-radius: 50%;
    height: 9px;
    width: 9px;
    background: #57a84c;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#soldanChatwidget .custom-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}
#soldanChatwidget .custom-radio:after {
    content: "";
    position: absolute;
    display: none;
}
#soldanChatwidget .widget-submitbtn {
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 7px;
    background-color: #1da1f2;
}
#soldanChatwidget .text-right {
    text-align: right;
}
#soldanChatwidget .d-flex {
    display: flex;
}
#soldanChatwidget .align-items-end {
    align-items: flex-end;
}
#soldanChatwidget .flex-row-reverse {
    flex-direction: row-reverse;
}
#soldanChatwidget .widget-messagebox {
    height: calc(100% - 80px);
    overflow: auto;
}
#soldanChatwidget .chatbox-username {
    text-transform: capitalize;
    margin-bottom: 5px;
}
#soldanChatwidget .chatbox-time {
    color: rgba(0, 0, 0, 0.6);
    font-size: 11px;
}
#soldanChatwidget .widget-inputchat {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    background: #f3f7f9;
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#soldanChatwidget .widget-inputfile {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 35px;
    height: 35px;
}
#soldanChatwidget .widget-inputbox {
    flex: 1;
}
#soldanChatwidget .widget-inputbox .form-control {
    font-size: 16px;
    background: transparent;
    border: none;
    border-radius: 0;
}
#soldanChatwidget .widget-sendbtn {
    width: 47px;
    height: 47px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;
    border: none;
    background: #1da1f2 url('../img/send.png') no-repeat center;
}
#soldanChatwidget .widget-chattransfer {
    position: relative;
    color: #ef0808;
    text-align: center;
}
#soldanChatwidget .widget-chattransfer span {
    background: #f3f7f9;
    padding: 0 10px;
}
#soldanChatwidget .widget-chattransfer::before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 50%;
    z-index: -1;
    border-bottom: 1px dashed #999;
}
#soldanChatwidget .widget-bottom {
    position: inherit;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
    background: #fff;
    padding: 10px;
}
#soldanChatwidget .d-none {
    display: none;
}
@media only screen and (min-width: 992px) {
    #soldanChatwidget .widget-messagebox::-webkit-scrollbar {
        width: 4px;
    }
    #soldanChatwidget .widget-messagebox::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    #soldanChatwidget .widget-messagebox::-webkit-scrollbar-thumb {
        background: #888;
    }
    #soldanChatwidget .widget-messagebox::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    #soldanChatwidget .widget-detailsbox--open {
        height: 500px;
    }
}
@media only screen and (max-width: 991px) {
    #sodlanWidgetToggle_0{
        right: 20px;
    }
    #soldanChatwidget .widget-detailsbox--open {
        height: calc(100% - 80px);
    }
}
@media only screen and (max-width: 767px) {
    #soldanChatwidget .widget-detailsbox--open {
        width: 100%;
        right: 0;
    }
}
#sodlanWidget_0 {
    width: 0;
    height: 0;
    opacity: 0;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 2147483647;
    -webkit-overflow-scrolling:touch;
    overflow:auto;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(0,0,0,0.05);
    background-color: #f3f7f9;
    border: 1px solid #eeeeee;
    transition: 0.5s ease all;
    transform-origin: bottom;
}

#sodlanWidget_0.open {
    opacity: 1;
    height: 580px;
    width: 394px;
    box-shadow: none;
    border: none;
}
#sodlanWidget_0.welcome {
    opacity: 1;
    width: 330px;
    height: 140px
}

.widget-form{
    padding: 23px 30px;
    border: solid 1px #e2e2e2;
    border-radius: 12px;
    margin-bottom: 7px;
    margin-right: 20px;
    width: 790px;
}

.widget-form .widget-submitbtn{
    width: 100%;
    background: #30a1f2;
    color: #fff;
}

#soldanChatwidget {
    box-shadow: 1px 0px 8px rgb(0 0 0 / 10%);
    border: solid 1px #e2e2e2;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 6px;
    padding: 0;
}

.widget-form{
    padding: 23px 30px;
    border: solid 1px #e2e2e2;
    border-radius: 12px;
    margin-bottom: 7px;
    margin-right: 20px;
    width: 280px;
    max-height: 600px;
    overflow-y: auto;
}

.widget-form .widget-submitbtn{
    width: 100%;
    background: #30a1f2;
    color: #fff;
}

#soldanChatwidget {
    box-shadow: 1px 0px 8px rgb(0 0 0 / 10%);
    border: solid 1px #e2e2e2;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 6px;
    padding: 0;
    width: 394px;
}

#soldanChatwidget .widget-top {
    position: relative;
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    /* border-top: solid 1px #333; */
}


#soldanChatwidget .widget-top {
    position: relative;
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    /* border-top: solid 1px #333; */
}

.clearfix{
clear: both;
}/* Rating Styles */
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


 