:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.feedback-section {
    height: 0;
    position: fixed;
    bottom: 0 !important;
    background-color: #e74a3b;
    color: #ffffff;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 9999;
}
.feedback-section.error {
    background-color: #c82333;
}

.feedback-section.success {
    background-color: #1e7e34;
}

.feedback-section span:nth-child(1) {
    line-height: 70px;
    font-size: 17px;
}

.modal-title{
    position:absolute
}

.cat-image{
    height: 70px;
    border-radius: 5px;
    background: antiquewhite;
}


.col-md-9 {


    max-width: 75%;
    margin-top: 118px;
}

